body
{
    background: #ccc;
}
label
{
    margin-left: 5px;
}
.content_container
{
    
}
#panel_login
{
    margin-top: 150px;
    border-radius: 0px;
    -webkit-box-shadow: 6px 6px 0px 0px rgba(51,51,51,1);
    -moz-box-shadow: 6px 6px 0px 0px rgba(51,51,51,1);
    box-shadow: 6px 6px 0px 0px rgba(51,51,51,1);
    color: #333;
}
#panel_register
{
    margin-top: 80px;
    border-radius: 0px;
    -webkit-box-shadow: 6px 6px 0px 0px rgba(51,51,51,1);
    -moz-box-shadow: 6px 6px 0px 0px rgba(51,51,51,1);
    box-shadow: 6px 6px 0px 0px rgba(51,51,51,1);
    color: #333;
}
.panel-heading
{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;
    color: #333;
}
.btn
{
    padding: 5px !important;
    border-radius: 0px;
}
.form-control
{
    border-radius: 0px;
}
.error_message_login
{
    margin-top: 7px;
    margin-bottom: -28px;
    border-radius: 0px;
    border: none;
}
.error_message
{
    margin-top: 5px;
    margin-bottom: -27px;
    margin-right: 0;
    float: right;
    border-radius: 0px;
    border: none;
}
.text_error_message
{
    font-size: 13px;
    font-weight: 400;
    padding: 3px !important;
    background: #ee3333;
    color: white;
    border-radius: 0px;
    border: none;
}
#panel_upload_images
{
       margin-top: 120px;
    border-radius: 0px;
    -webkit-box-shadow: 6px 6px 0px 0px rgba(51,51,51,1);
    -moz-box-shadow: 6px 6px 0px 0px rgba(51,51,51,1);
    box-shadow: 6px 6px 0px 0px rgba(51,51,51,1);
    color: #333;
}
.img_download
{
    width: 100px;
}
.btn_download
{
    padding: 3px !important;
}
#panel_myaccount
{
    margin-top: 120px;
    border-radius: 0px;
    -webkit-box-shadow: 6px 6px 0px 0px rgba(51,51,51,1);
    -moz-box-shadow: 6px 6px 0px 0px rgba(51,51,51,1);
    box-shadow: 6px 6px 0px 0px rgba(51,51,51,1);
    color: #333;
}